<section id="about">
<div class="container">
  <h3>About Me</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
      Hi, I'm Ryan Miller.I'm not a full-time software developer, but I do enjoy learning and building useful software as a hobby. This 
      website is where I plan to publish some of my projects and write-up the interesting things I learn along the way.
      I value an ability to communicate ideas - technical or not - and my goal is to use <a href="{{ site.baseurl }} blog.html">my blog</a> 
      to keep that ability sharp.
		</h4>
    </div>
  </div>
</div>
</section>
