<section id="about">
<div class="container">
  <h3>About Me</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
      Hi, I'm Ryan Miller. Though I'm not a full-time software developer, I do enjoy learning and building useful software as a hobby. This 
      website is where I plan to publish some of my projects and write-up the interesting things I learn along the way.
      Ability to communicate technical ideas is critical that I hope to hone by making frequent updates to <a href="{{ site.baseurl }} blog.html">my blog</a>.
		</h4>
    </div>
  </div>
</div>
</section>
