<footer>
    <div class="footer-row">
        <div class="footer-left">
            <span class="text-muted">© 2020 RYAN MILLER.</span>
        </div>
        <div class="footer-right">
            <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <div class="slider round"></div>
                </label>
            </div>
        </div>
    </div>
</footer>
<div class="footer"></div>
