<section id="projects">
<div class="container">
  <h3>Coding Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    <h4>
      <a id="nostyle" class="nostyle" href="https://github.com/TheRyanMiller/CharlestonLiveMusicCalendar">
      <i class="fa fa-github" ></i></a>&nbsp;&nbsp;<strong><a href="https://chs-music.com">Charleston Music Calendar</a></strong>
      - View all upcoming events in the Charleston live music scene. Listings are automatically refreshed every hour, so it's always-up-to-date.
      Discuss and show support by upvoting and commenting on events you're interested in.
    </h4>
    <h4>
      <a id="nostyle" class="nostyle" href="https://theryanmiller.github.io/SangItLive">
      <i class="fa fa-github"></i></a>&nbsp;&nbsp;<strong><a href="https://theryanmiller.github.io/SangItLive">Concert Companion (SangItLive)</a></strong>
      - An Android app for live music lovers to help track upcoming tour dates, and past set lists for their favorite artists.
    </h4>
		
    </div>
  </div>
</div>
</section>
